// Color MAP for the variables
//normal var: $primary: #005dff;
$colors: (
  primary: red,
  secondary: #005dff,
  tekst: #fff,
  footer: #571212,
  wit: #ffffff
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
